*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}
.sign-in {
  min-height: 20rem;
  min-width: 30rem;
}

.sign-up {
  min-height: 25rem;
  min-width: 30rem;
}

#heading {
  font-size: 2rem;
}

#form {
  font-size: 1.45rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: content;
}

#form input,
button {
  font-size: 1.2rem;
  height: 2rem;
  width: 400px;
}

section {
  display: flex;
  flex-direction: column;
}

#link {
  font-size: 1rem;
}
